.category-input {
    align-items: center;
    display: flex;
    width: 47%;
}

.category-input div.form-group {
    width: 100%;
}

.category-input .badge {
    height: 18px;
    margin: 0 4px;
}

.category-input .badge .badge-close {
    cursor: pointer;
    margin-left: 5px;
}

.category-input {
    position: relative;
}

.category-hint {
    font-size: 14px;
    height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.category-hint::-webkit-scrollbar { 
    display: none;
}

.category-hint .list-group-item {
    cursor: pointer;
}